{deps, [
    {lz4, {git, "https://github.com/rabbitmq/lz4-erlang", {branch, "master"}}}
]}.

{pre_hooks, [
    {"(linux|darwin|solaris|win32)", clean, "make clean"},
    {"(freebsd|netbsd|openbsd)", clean, "gmake clean"},
    {"(linux|darwin|solaris|win32)", compile, "make"},
    {"(freebsd|netbsd|openbsd)", compile, "gmake"}
]}.
